@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.digital-clock {
  width: 450px;
  height: 35vh;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 20px;
  color: orangered;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.time {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
}

.date {
  color: #888;
  font-size: 20px;
}